@charset "utf-8";

.navbar-back {
    margin-top: 5px;
    background-color: rgba(255,255,255,1.0);
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.7);
    width: 100%;
}

.nav

.navbar-back a {
    font-family: 'Bebas Neue', cursive;
}

.date {
    font-size: 24px;
}

.date span {
    font-size: 18px;
}