@charset "utf-8";


li {
  list-style: none;
  margin-top: 0;
}

a {
  text-decoration: none;
  margin-top: 0;
  font-size: 12px;
}

img {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.header-container {
  background-color: rgba(164,46,0,0.7);
  border-bottom: 5px solid rgba(0,0,0,0.7);
  width: 100%;
  position:fixed;
  z-index: 10;
}

.header-wrapper a {
  opacity: 0.9;
  font-family: 'Bowlby One SC', cursive;
  padding-left: 3px;
  border-left: white 1px solid;
}

.header-logo {
  height: 36px;
  width: auto;
  padding:0;
}

.menu-list {
  font-weight: 700;
}



i {
  display:inline;
}