@charset "utf-8";



.navbar-back a {
    font-family: 'Bebas Neue', cursive;
}

.main-container {
    display:flex;
    justify-content: space-around;
}

.nav-wrapper {
    width: 30%;
    border-radius: 3px;
    background-color: rgb(40,40,40);
    border: 5px solid grey;
    height: 700px;
}

.article-container {
    width: 60%;
    border-radius: 3px;
    background-color: rgb(40,40,40);
    margin-left: 10px;
    border: 5px solid grey;
}

/*左側ボックス*/

.greetings, .nav-name, .article-name {
    font-size: 22px;
    font-weight: 800;
    padding: 15px 10px 10px 10px;
    text-align: center;
    color: white;
}

.user-name span {
    font-size: 18px;
}

.user-name {
    padding-top: 0;
    font-size: 22px;
    font-weight: 800;
    padding: 0 15px;
    color: white;
    text-align: center;
}

.friend-name {
    font-size: 18px;
    color: grey;
}

.friend-name span {
    font-size: 15px;
}

.nav-name {
    font-size: 18px;
}

.nav-para {
    margin-left: 15px;
    margin-top: 10px;
}

ul.friend-list {
    padding: 0;
    text-align: center;
    color: white;
}

.follow-list a:hover {
    color: white;
}



/*右側ボックス*/

.community-wrapper {
    border-top: 1px dotted white;
    color:white;
}

.search-box {
    margin: 5px 0 10px 15px;
}

#search-box {
    border-radius: 20%;
}

.community-name, .c-box {
    text-align: center;
    margin-top: 10px;
}

.com-fix ul {
    text-align: center;
}

.com-fix li {
    display: inline-block;
}

.community-name {
    font-weight: 800;
}

.community-name a {
    font-size: 18px;
}

.community-image {
    width: 95%;
    border-radius: 5px;
    display:block;
    margin: 0 auto;
    
    margin-bottom: 10px;
    margin-top: 10px;
}

.com-fix ul {
    padding: 0;
}

.article-container a {
    color:grey;
}

.button input{
    color: white;
    background-color: rgb(60,58,58);
}





/*メディアクエリ*/

@media (max-width:600px) {
    .main-container {
        display: block;
    }
    
    .nav-wrapper {
    width: 90%;
    border-radius: 3px;
    padding-left: 10px;
    margin: 0 auto;
    }

    .article-container {
    width: 90%;
    border-radius: 3px;
    padding-left: 10px;
    margin: 0 auto;
    }
    
}