@charset "utf-8";

.spacing {
  height:60px;
}

main {
  margin-top: 10px;
}

.main-wrapper {
  height: 350px;
}

.main-wrapper h2 {
  font-size: 50px;
  padding-top: 150px;
  text-align: center;
  color: white;
  font-family: 'Bowlby One SC', cursive;
}



